{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules" : true
    }
  },
  "rules": {
    "react/jsx-indent": [2, 2],
    "no-undef": 1,
    "no-constant-condition": "off"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
